{
    "swagger": "2.0",
    "host": "sistema.coolgroove.com.br",
    "basePath": "/api/index.php",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "consumes": [
        "application/json",
        "application/xml",
        "multipart/form-data"
    ],
    "paths": {
        "/agendaevents/{id}": {
            "get": {
                "operationId": "retrieveAgendaevents",
                "tags": [
                    "agendaevents"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of Agenda Events",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get properties of a Agenda Events object 🔐",
                "description": "Return an array with Agenda Events information",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "updateAgendaevents",
                "tags": [
                    "agendaevents"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of Agenda Event to update",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "updateAgendaeventsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/updateAgendaeventsModel"
                        }
                    }
                ],
                "summary": "Update Agenda Event general fields 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeAgendaevents",
                "tags": [
                    "agendaevents"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Agenda Event ID",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete Agenda Event 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/agendaevents": {
            "get": {
                "operationId": "listAgendaevents",
                "tags": [
                    "agendaevents"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.id",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "user_ids",
                        "type": "string",
                        "description": "User ids filter field (owners of event). Example: '1' or '1,2,3'",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.label:like:'%dol%') and (t.datec:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "properties",
                        "type": "string",
                        "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "pagination_data",
                        "type": "boolean",
                        "description": "If this parameter is set to true the response will include pagination data. Default value is false. Page starts from 0*",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "List Agenda Events 🔐",
                "description": "Get a list of Agenda Events",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "createAgendaevents",
                "tags": [
                    "agendaevents"
                ],
                "parameters": [
                    {
                        "name": "createAgendaeventsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createAgendaeventsModel"
                        }
                    }
                ],
                "summary": "Create Agenda Event object 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts": {
            "get": {
                "operationId": "listBankaccounts",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "category",
                        "type": "integer",
                        "format": "int64",
                        "description": "Use this param to filter list by category",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.import_key:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "properties",
                        "type": "string",
                        "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get the list of accounts. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "createBankaccounts",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "createBankaccountsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createBankaccountsModel"
                        }
                    }
                ],
                "summary": "Create account object 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts/{id}": {
            "get": {
                "operationId": "retrieveBankaccounts",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get account by ID. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "updateBankaccounts",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "updateBankaccountsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/updateBankaccountsModel"
                        }
                    }
                ],
                "summary": "Update account 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeBankaccounts",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete account 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts/transfer": {
            "post": {
                "operationId": "bankaccountsTransfer",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "bankaccountsTransferModel",
                        "description": "bankaccount_from_id  \nbankaccount_to_id  \ndate  \ndescription  \namount  \namount_to  \ncheque_number  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bankaccountsTransferModel"
                        }
                    }
                ],
                "summary": "Create an internal wire transfer between two bank accounts 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: User does not have permission to configure bank accounts"
                    },
                    "404": {
                        "description": "Not Found: Either the source or the destination bankaccount for the provided id does not exist"
                    },
                    "500": {
                        "description": "Internal Server Error: Error(s) returned by the RDBMS"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts/{id}/lines": {
            "get": {
                "operationId": "bankaccountsRetrieveLines",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.import_key:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get the list of lines of the account. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "bankaccountsAddLine",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "bankaccountsAddLineModel",
                        "description": "**date** (required)  \n**type** (required)  \n**label** (required)  \n**amount** (required)  \ncategory  \ncheque_number  \ncheque_writer  \ncheque_bank  \naccountancycode  \ndatev  \nnum_releve  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bankaccountsAddLineModel"
                        }
                    }
                ],
                "summary": "Add a line to an account 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts/{id}/lines/{line_id}/links": {
            "post": {
                "operationId": "bankaccountsAddLink",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "line_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account line",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "bankaccountsAddLinkModel",
                        "description": "**url_id** (required)  \n**url** (required)  \n**label** (required)  \n**type** (required)  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bankaccountsAddLinkModel"
                        }
                    }
                ],
                "summary": "Add a link to an account line 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "get": {
                "operationId": "bankaccountsRetrieveLinks",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "line_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account line",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get the list of links for a line of the account. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts/{id}/lines/{line_id}": {
            "put": {
                "operationId": "bankaccountsUpdateLine",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "line_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account line",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "bankaccountsUpdateLineModel",
                        "description": "**label** (required)  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bankaccountsUpdateLineModel"
                        }
                    }
                ],
                "summary": "Update an account line 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "bankaccountsRemoveLine",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "line_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account line",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete an account line 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts/{id}/balance": {
            "get": {
                "operationId": "bankaccountsRetrieveBalance",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get current account balance by ID 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories/{id}": {
            "get": {
                "operationId": "retrieveCategories",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "include_childs",
                        "type": "boolean",
                        "description": "Include child categories list (true or false)",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get properties of a category object 🔐",
                "description": "Return an array with category information",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "updateCategories",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of category to update",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "updateCategoriesModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/updateCategoriesModel"
                        }
                    }
                ],
                "summary": "Update category 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeCategories",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Category ID",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete category 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories": {
            "get": {
                "operationId": "listCategories",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'actioncomm')",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.date_creation:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "properties",
                        "type": "string",
                        "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "List categories 🔐",
                "description": "Get a list of categories according to filters",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "createCategories",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "createCategoriesModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createCategoriesModel"
                        }
                    }
                ],
                "summary": "Create category object 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories/object/{type}/{id}": {
            "get": {
                "operationId": "categoriesRetrieveListForObject",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Object ID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'project', 'actioncomm')",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "s.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "List categories of an object 🔐",
                "description": "Get the list of categories linked to an object",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories/{id}/objects/{type}/{object_id}": {
            "post": {
                "operationId": "categoriesLinkObjectById",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'actioncomm')",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "object_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of object",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Link an object to a category by id 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "categoriesUnlinkObjectById",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'actioncomm')",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "object_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of the object",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Unlink an object from a category by id 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories/{id}/objects/{type}/ref/{object_ref}": {
            "post": {
                "operationId": "categoriesLinkObjectByRef",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact')",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "object_ref",
                        "type": "string",
                        "description": "Reference of object",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Link an object to a category by ref 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "categoriesUnlinkObjectByRef",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'actioncomm')",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "object_ref",
                        "type": "string",
                        "description": "Reference of the object",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Unlink an object from a category by ref 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories/{id}/objects": {
            "get": {
                "operationId": "categoriesRetrieveObjects",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'project')",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "onlyids",
                        "type": "integer",
                        "format": "int64",
                        "description": "Return only ids of objects (consume less memory)",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get the list of objects in a category. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts/{id}": {
            "get": {
                "operationId": "retrieveContacts",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "includecount",
                        "type": "integer",
                        "format": "int64",
                        "description": "Count and return also number of elements the contact is used as a link for",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "includeroles",
                        "type": "integer",
                        "format": "int64",
                        "description": "Includes roles of the contact",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get properties of a contact object 🔐",
                "description": "Return an array with contact information",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "updateContacts",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of contact to update",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "updateContactsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/updateContactsModel"
                        }
                    }
                ],
                "summary": "Update contact 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeContacts",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Contact ID",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete contact 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts/email/{email}": {
            "get": {
                "operationId": "contactsRetrieveByEmail",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "type": "string",
                        "description": "Email of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "includecount",
                        "type": "integer",
                        "format": "int64",
                        "description": "Count and return also number of elements the contact is used as a link for",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "includeroles",
                        "type": "integer",
                        "format": "int64",
                        "description": "Includes roles of the contact",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get properties of a contact object by Email 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Insufficient rights"
                    },
                    "404": {
                        "description": "User or group not found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts": {
            "get": {
                "operationId": "listContacts",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "thirdparty_ids",
                        "type": "string",
                        "description": "Thirdparty ids to filter contacts of (example '1' or '1,2,3')",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "category",
                        "type": "integer",
                        "format": "int64",
                        "description": "Use this param to filter list by category",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.date_creation:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "includecount",
                        "type": "integer",
                        "format": "int64",
                        "description": "Count and return also number of elements the contact is used as a link for",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "includeroles",
                        "type": "integer",
                        "format": "int64",
                        "description": "Includes roles of the contact",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "properties",
                        "type": "string",
                        "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "pagination_data",
                        "type": "boolean",
                        "description": "If this parameter is set to true the response will include pagination data. Default value is false. Page starts from 0*",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "List contacts 🔐",
                "description": "Get a list of contacts",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "createContacts",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "createContactsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createContactsModel"
                        }
                    }
                ],
                "summary": "Create contact object 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts/{id}/createUser": {
            "post": {
                "operationId": "contactsCreateUser",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "contactsCreateUserModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/contactsCreateUserModel"
                        }
                    }
                ],
                "summary": "Create an user account object from contact (external user) 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts/{id}/categories": {
            "get": {
                "operationId": "contactsRetrieveCategories",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "s.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get categories for a contact 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts/{id}/categories/{category_id}": {
            "put": {
                "operationId": "contactsAddCategory",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "category_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of category",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Add a category to a contact 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Insufficient rights"
                    },
                    "404": {
                        "description": "Category or contact not found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "contactsRemoveCategory",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "category_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of category",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Remove the link between a category and a contact 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "404 Category or contact not found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/documents/download": {
            "get": {
                "operationId": "listDocuments",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "modulepart",
                        "type": "string",
                        "description": "Name of module or area concerned by file download ('facture', ...)",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "original_file",
                        "type": "string",
                        "description": "Relative path with filename, relative to modulepart (for example: IN201701-999/IN201701-999.pdf)",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Download a document. 🔐",
                "description": " Note that, this API is similar to using the wrapper link \"documents.php\" to download a file (used for internal HTML links of documents into application), but with no need to have a session cookie (the token is used instead).",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad value for parameter modulepart or original_file"
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "File not found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/documents/builddoc": {
            "put": {
                "operationId": "documentsBuilddoc",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "documentsBuilddocModel",
                        "description": "**modulepart** (required)  \noriginal_file  \ndoctemplate  \nlangcode  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/documentsBuilddocModel"
                        }
                    }
                ],
                "summary": "Build a document. 🔐",
                "description": " Test sample 1: { \"modulepart\": \"invoice\", \"original_file\": \"FA1701-001/FA1701-001.pdf\", \"doctemplate\": \"crabe\", \"langcode\": \"fr_FR\" }. Supported modules: invoice, order, proposal, contract, shipment",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad value for parameter modulepart or original_file"
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Invoice, Order, Proposal, Contract or Shipment not found"
                    },
                    "500": {
                        "description": "Error generating document"
                    },
                    "501": {
                        "description": "File not found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/documents": {
            "get": {
                "operationId": "documentsRetrieveDocumentsListByElement",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "modulepart",
                        "type": "string",
                        "description": "Name of module or area concerned ('thirdparty', 'member', 'proposal', 'order', 'invoice', 'supplier_invoice', 'shipment', 'project', ...)",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of element",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "ref",
                        "type": "string",
                        "description": "Ref of element",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortfield",
                        "type": "string",
                        "description": "Sort criteria ('','fullname','relativename','name','date','size')",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "description": "Sort order ('asc' or 'desc')",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Return the list of documents of a dedicated element (from its ID or Ref) 🔐",
                "description": "Supported modules: thirdparty, user, member, proposal, order, supplier_order, shipment, invoice, supplier_invoice, product, event, expensereport, knowledgemanagement, category, contract",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad value for parameter modulepart, id or ref"
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Thirdparty, User, Member, Order, Invoice or Proposal not found"
                    },
                    "500": {
                        "description": "Error while fetching object"
                    },
                    "503": {
                        "description": "Error when retrieve ecm list"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeDocuments",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "modulepart",
                        "type": "string",
                        "description": "Name of module or area concerned by file download ('product', ...)",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "original_file",
                        "type": "string",
                        "description": "Relative path with filename, relative to modulepart (for example: PRODUCT-REF-999/IMAGE-999.jpg)",
                        "in": "query",
                        "required": true
                    }
                ],
                "summary": "Delete a document. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad value for parameter original_file"
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "File not found"
                    },
                    "500": {
                        "description": "Error on file operation"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/documents/upload": {
            "post": {
                "operationId": "createDocuments",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "createDocumentsModel",
                        "description": "**filename** (required)  \n**modulepart** (required)  \nref  \nsubdir  \nfilecontent  \nfileencoding  \noverwriteifexists  \ncreatedirifnotexists  \nposition  \ncover  \narray_options  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/createDocumentsModel"
                        }
                    }
                ],
                "summary": "Upload a document. 🔐",
                "description": " Test sample for invoice: { \"filename\": \"mynewfile.txt\", \"modulepart\": \"invoice\", \"ref\": \"FA1701-001\", \"subdir\": \"\", \"filecontent\": \"content text\", \"fileencoding\": \"\", \"overwriteifexists\": \"0\" }. Test sample for supplier invoice: { \"filename\": \"mynewfile.txt\", \"modulepart\": \"supplier_invoice\", \"ref\": \"FA1701-001\", \"subdir\": \"\", \"filecontent\": \"content text\", \"fileencoding\": \"\", \"overwriteifexists\": \"0\" }. Test sample for medias file: { \"filename\": \"mynewfile.txt\", \"modulepart\": \"medias\", \"ref\": \"\", \"subdir\": \"image/mywebsite\", \"filecontent\": \"Y29udGVudCB0ZXh0Cg==\", \"fileencoding\": \"base64\", \"overwriteifexists\": \"0\" }. Supported modules: invoice, order, supplier_order, task/project_task, product/service, expensereport, fichinter, member, propale, agenda, contact",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Object not found"
                    },
                    "500": {
                        "description": "Error on file operation"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/expensereports/{id}": {
            "get": {
                "operationId": "retrieveExpensereports",
                "tags": [
                    "expensereports"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of Expense Report",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get properties of an Expense Report 🔐",
                "description": "Return an array with Expense Report information",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "updateExpensereports",
                "tags": [
                    "expensereports"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of Expense Report to update",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "updateExpensereportsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/updateExpensereportsModel"
                        }
                    }
                ],
                "summary": "Update Expense Report general fields (won't touch lines of expensereport) 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "401": {
                        "description": "Not allowed"
                    },
                    "500": {
                        "description": "System error"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeExpensereports",
                "tags": [
                    "expensereports"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Expense Report ID",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete Expense Report 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/expensereports": {
            "get": {
                "operationId": "listExpensereports",
                "tags": [
                    "expensereports"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "user_ids",
                        "type": "string",
                        "description": "User ids filter field. Example: '1' or '1,2,3'",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.date_creation:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "properties",
                        "type": "string",
                        "description": "Restrict the data returned to these properties. Ignored if empty. Comma separated list of properties names",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "pagination_data",
                        "type": "boolean",
                        "description": "If this parameter is set to true the response will include pagination data. Default value is false. Page starts from 0*",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "List Expense Reports 🔐",
                "description": "Get a list of Expense Reports",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "createExpensereports",
                "tags": [
                    "expensereports"
                ],
                "parameters": [
                    {
                        "name": "createExpensereportsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createExpensereportsModel"
                        }
                    }
                ],
                "summary": "Create Expense Report object 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/expensereports/payments": {
            "get": {
                "operationId": "expensereportsRetrieveAllPayments",
                "tags": [
                    "expensereports"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get the list of payments of expensereport. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/expensereports/payments/{pid}": {
            "get": {
                "operationId": "expensereportsRetrievePayments",
                "tags": [
                    "expensereports"
                ],
                "parameters": [
                    {
                        "name": "pid",
                        "type": "integer",
                        "format": "int64",
                        "description": "Payment ID",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get a given payment. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/expensereports/{id}/payments": {
            "post": {
                "operationId": "expensereportsAddPayment",
                "tags": [
                    "expensereports"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of expense report",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "expensereportsAddPaymentModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/expensereportsAddPaymentModel"
                        }
                    }
                ],
                "summary": "Create payment of ExpenseReport 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "expensereportsUpdatePayment",
                "tags": [
                    "expensereports"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of paymentExpenseReport",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "expensereportsUpdatePaymentModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/expensereportsUpdatePaymentModel"
                        }
                    }
                ],
                "summary": "Update a payment of ExpenseReport 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/interventions/{id}": {
            "get": {
                "operationId": "retrieveInterventions",
                "tags": [
                    "interventions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of Expense Report",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get properties of a Expense Report object Return an array with Expense Report information 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeInterventions",
                "tags": [
                    "interventions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Order ID",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete order 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/interventions": {
            "get": {
                "operationId": "listInterventions",
                "tags": [
                    "interventions"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
[...]
